.cursor/
.cursorignore
.claude
.claudewriting/
CLAUDE.md
CLAUDE.local.md
.serena

.env
/docs/local/

/bin/
*.exe
*.test

/test/received/*
!/test/received/.gitkeep

*.out
*.cov
*.prof

/.vscode/
/.idea/

.DS_Store
Thumbs.db
